<section class="player-panel">
  <table
    mat-table
    [dataSource]="playerDataSource"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
        style="width: auto"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="winning">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Winning"
        style="width: 40px"
      >
        Winning
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.winning }}
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="openManagePlayer(element)"
          type="button"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="playerDataSourceColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: playerDataSourceColumns"></tr>
  </table>

  <button
    mat-fab
    class="open-manage-player"
    (click)="openManagePlayer()"
    type="button"
  >
    <mat-icon>add</mat-icon>
  </button>
</section>
