<h1 mat-dialog-title>Neues Spiel erstellen</h1>
<div mat-dialog-content>
  Spielerauswahl
  <mat-chip-listbox
    aria-label="Fish selection"
    [multiple]="true"
    (change)="updateSelectedPlayer($event)"
  >
    <mat-chip-option *ngFor="let player of playerList" [value]="player">
      {{ player.name }}
    </mat-chip-option>
  </mat-chip-listbox>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Schließen</button>
  <button mat-button [mat-dialog-close]="selectedPlayer">Spiel starten</button>
</div>
