@keyframes gameValueBtnActive {
  0% {
    border-bottom: 8px solid var(--secondary--color);
  }
  50% {
    margin-top: 5px;
    border-bottom: 3px solid var(--secondary--color);
  }
  100% {
    border-bottom: 8px solid var(--secondary--color);
  }
}

.game-panel {
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;

  .player-list {
    flex: 1 1 auto;
    padding-right: 10px;
    max-width: 60vw;
    height: inherit;
    display: flex;
    flex-direction: column;

    tr {
      &.active {
        background-color: var(--primary--color);
      }
    }
  }

  .player-table {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .dart-points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 44px;
    margin: 20px 0;
  }
  .dart-point {
    padding: 10px;
    border: 2px solid #777;
  }

  .points-selection {
    flex: 0 0 auto;
    width: 40vw;

    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;

    button {
      font-size: 2em;
      background-color: var(--primary--color);
      color: #fff;
      border: 0;
      transition: all 200ms;
      border: 3px solid var(--secondary--color);
      border-bottom: 8px solid var(--secondary--color);

      &:disabled {
        opacity: 0.5;
      }

      &:active:not(:disabled) {
        animation: gameValueBtnActive 400ms;
      }
    }

    .point {
      &-ok {
        grid-column: 5/5;
        grid-row: 5/7;
      }

      &-0 {
        grid-column: 5/5;
        grid-row: 2/2;
      }
      &-25 {
        grid-column: 5/5;
        grid-row: 3/3;
      }
      &-50 {
        grid-column: 5/5;
        grid-row: 4/4;
      }
    }
    .duplicator {
      &-double {
        grid-column: 1/3;
        grid-row: 6/6;
      }
      &-tripple {
        grid-column: 3/5;
        grid-row: 6/6;
      }
    }
    [class^="duplicator"] {
      &.active {
        background-color: var(--secondary--color) !important;
      }
    }
    .clear {
      grid-column: 5/5;
      grid-row: 1/1;
    }
  }
}
