/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  box-sizing: border-box;
  --primary--color: rgb(2, 70, 91);
  --secondary--color: rgb(53, 183, 199);
  --trinary--color: rgb(254, 99, 51);
}

* {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-data-table__header-cell {
  font-size: 1.7em;
}
.mdc-data-table__cell {
  font-size: 1.5em;
}

.game-win-screen-panel {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent;
    box-shadow: none;
  }
}
